VITE_SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5hZXhjenluYWZvY2l0eXVua3d1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3MTEyMTMzMDIsImV4cCI6MjAyNjc4OTMwMn0.7D23oab_ztsduUFmrVabYEGS9MDfTD72m2T6rZ8lUp8